<apex:page controller ="SubscriptionVF">
<apex:form>
<apex:sectionHeader title="Subscription Creation Step 1" subtitle="Step 1 of 3"></apex:sectionHeader>
<apex:pageBlock>

    <apex:pageBlockSection columns="2">
        <apex:inputText label="Value" value="{!value}"></apex:inputText>

        <apex:selectList value="{!curr}">
            <apex:selectOptions value="{!selectOps}"></apex:selectOptions>
        </apex:selectList>

    </apex:pageBlockSection>

   
</apex:pageBlock>
</apex:form>
</apex:page>